* {
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  background-color: #ac68e9;
}

.content-container {
  position: relative;
  padding-top: 1em;
}

.accordion-container {
  width: 90%;
  margin: 7em auto;
  padding: 3em 1em;
  border-radius: 25px;
  background-color: #fff;
  filter: drop-shadow(10px 50px 50px #492d61);

}

.accordion-container .accordion-mobile-images {
  position: relative;
}

.accordion-container .accordion-mobile-images img {
  position: absolute;
  max-width: 250px;
  width: 100%;
}

.accordion-container .accordion-mobile-images .mobile-main-image {
  left: 13%;
  bottom: -27px;
}

.accordion-container .accordion-mobile-images .mobile-image-shadow {
  left: 12%;
  top: -50px;
}

.accordion-container .accordion-desktop-images {
  display: none;
}

.accordion-container h1 {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 0.5em;
}

.accordion-container .accordion-row {
  border-bottom: 1px solid #f3f3f3;
  padding: .5em;
}

.accordion-container .accordion-question {
  position: relative;
  text-align: left;
}

.accordion-container .accordion-question::after {
  content: url("/assets/images/icon-arrow-down.svg");
  position: absolute;
  top: 0;
  right: 1%;
  transform: rotate(-90deg);
  transition: all .2s ease-in-out;
}

.accordion-container .accordion-question.active::after {
  content: url("/assets/images/icon-arrow-down.svg");
  position: absolute;
  top: 0;
  right: 1%;
  transform: rotate(0deg);
  transition: all .2s ease-in-out;
}

.accordion-container .accordion-question h2 {
  font-size: .8rem;
  font-weight: 600;
  color: #7c7c7c;
}

.accordion-container .accordion-question.active h2 {
  font-weight: 700;
  color: #000;
}

.accordion-container .accordion-answer {
  display: none;
  max-height: 0;
  transition: max-height 0.5s ease-in-out;
}

.accordion-container .accordion-answer.active {
  display: block;
  max-height: 500px;
  font-size: .9rem;
  font-weight: 300;
  color: #7c7c7c;
  line-height: 1.2rem;
}

@media screen and (min-width: 769px) {

  .accordion-container {
    max-width: 100%;
    width: 900px;
    padding: 5em 1em;
    overflow: hidden;
  }

  .accordion-container .accordion-mobile-images {
    display: none;
  }

  .accordion-container .accordion-desktop-images {
    position: relative;
    display: block;
  }

  .accordion-container .accordion-desktop-images img {
    position: absolute;
  }

  .accordion-container .accordion-desktop-images .desktop-main-image {
    left: -70px;
    top: 10px;
    z-index: 2;
  }

  .accordion-container .accordion-desktop-images .desktop-image-shadow {
    left: -65%;
    top: -23em;
    z-index: 1;
  }

  .accordion-container .accordion-text-content {
    max-width: 400px;
    width: 40%;
    margin-left: auto;
    margin-right: 5%;
  }

  .accordion-container h1 {
    margin-top: 0;
    padding: 0;
    text-align: left;
  }

  .accordion-container .accordion-row {
    padding: 1em;
  }

}